[Unit]
Description=Turn on an on-air light when the camera is in use.

[Service]
Type=simple
Restart=always
ExecStart=%h/src/github.com/yoshiori/onair-bot/target/release/onair-bot
WorkingDirectory=%h/src/github.com/yoshiori/onair-bot

[Install]
WantedBy=default.target
